.shopcategory-banner{
    width: 80%;
    display: block;
    margin: 30px auto;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0 150px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-products{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    width: 230px;
    height: 65px;
    color: #787878;
    background: #ededed;
    border-radius: 75px;
    font-size: 18px;
    font-weight: 500;
    margin: 100px auto;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}