.signup{
    width: 100%;
    height: 90vh;
    background-color: #fce3fe;
    padding: 80px 0;
}
.signup-container{
    width: 550px;
    height: 600px;
    background-color: white;
    padding: 40px 60px;
    margin: auto;
}
.signup-container h1{
    margin: 20px 0;
}
.signup-forms{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}
.signup-forms input{
    width: 100%;
    height: 70px;
    color: #5c5c5c;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: 18px;
}
.signup-container button{
    width: 580px;
    height: 70px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.signup-login{
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.signup span{
    color: #ff4141;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}
.signup-agree{
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
}

@media screen and (max-width:600px) {
    .signup{
        width: 80%;
        height: auto;
        background-color: white;
        padding: 10px 0;
        margin: auto;
        margin-bottom: 60px;
    }
    .signup-container{
        width: 400px;
        height: 450px;
        padding: 10px 20px;
        margin: auto;
    }
    .signup-container input{
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    .signup-container button{
        width: 320px;
        height: 50px;
        font-size: 18px;
    }
    .signup-login{
        font-size: 12px;
    }
    .signup-agree input{
        width: 15px;
        height: 15px;
    }
    .signup-agree{
        font-size: 12px;
        gap: 10px;
    }
}