.subscribe{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 140px;
    margin-bottom: 130px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    gap: 30px;
}
.subscribe h1{
    color: #454545;
    font-size: 50px;
    font-weight: 600;
}
.subscribe p{
    color: #454545;
    font-size: 20px;
}
.subscribe div{
    width: 730px;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e3e3e3;
    border-radius: 80px;
}
.subscribe input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.subscribe button{
    width: 210px;
    height: 70px;
    background-color: black;
    color: white;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .subscribe{
        width: 100%;
        padding: 0;
    }
    .subscribe h1{
        font-size: 25px;
    }
    .subscribe p{
        font-size: 18px;
    }
    .subscribe div{
        width: 80%;
        height: 50px;
    }
    .subscribe button{
        height: 50px;
    }
}